[submodule "libs/CodeMirror"]
	path = libs/CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "libs/json-rpc"]
	path = libs/json-rpc
	url = https://github.com/jcubic/json-rpc.git
[submodule "libs/terminal"]
	path = libs/terminal
	url = git@github.com:jcubic/jquery.terminal.git
[submodule "libs/mousetrap"]
	path = libs/mousetrap
	url = https://github.com/ccampbell/mousetrap.git
